.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-favT6QS-Y);
  min-width: 0;
  min-height: 0;
}
.headerHeroPage:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 10;
}
.img__ag5Y6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  object-position: 50% 25%;
  min-width: 0;
  min-height: 0;
}
.img__ag5Y6 > picture > img {
  object-fit: cover;
  object-position: 50% 25%;
}
.img__ag5Y6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 25%;
}
.navigationBar__sUy4R:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__qArUm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__dEfQy {
  position: relative;
  object-fit: cover;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__dEfQy {
    width: 120px;
    flex-shrink: 0;
  }
}
.img__a002O {
  object-fit: cover;
  display: none !important;
}
.img__a002O > picture > img {
  object-fit: cover;
}
.img__a002O > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg___5EDyb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img__qhwzw {
  object-fit: cover;
}
.img__qhwzw > picture > img {
  object-fit: cover;
}
.img__qhwzw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__sBx7T {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox__sBx7T > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox__sBx7T > :global(.__wab_flex-container) > *,
.freeBox__sBx7T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sBx7T > :global(.__wab_flex-container) > picture > img,
.freeBox__sBx7T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sBx7T {
    display: flex;
    flex-direction: column;
    background: var(--token-Oma3iF8wjdtxn);
    box-shadow: 10px 10px 0px 0px var(--token-9tzej17HIQvdz);
    margin-top: 24px;
    border: 4px solid var(--token-favT6QS-Y);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sBx7T > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-yBlna5z1A));
    height: calc(100% + var(--token-yBlna5z1A));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sBx7T > :global(.__wab_flex-container) > *,
  .freeBox__sBx7T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sBx7T > :global(.__wab_flex-container) > picture > img,
  .freeBox__sBx7T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-yBlna5z1A);
  }
}
.link__jp5Jx {
  position: relative;
  display: flex;
}
.button__nPd2I:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ohOs3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__pDqk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__cdbbO {
  position: relative;
  display: flex;
}
.button__x9I3F:global(.__wab_instance) {
  max-width: 100%;
}
.svg__r4Fem {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___8Ehy4 {
  color: var(--token-favT6QS-Y);
}
.svg__bgLyv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__r3Vvt {
  position: relative;
  display: flex;
}
.button__qHbWm:global(.__wab_instance) {
  max-width: 100%;
}
.svg__i2Im {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__hbK2Y {
  color: var(--token-favT6QS-Y);
}
.svg__kGVyq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__w2L1K {
  position: relative;
  display: flex;
}
.button__x9Y5N:global(.__wab_instance) {
  max-width: 100%;
}
.svg__aqsA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__asQr7 {
  color: var(--token-favT6QS-Y);
}
.svg__jLtCn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__j4B2 {
  position: relative;
  display: flex;
}
.button__ybD3E:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rhBkP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vhRw8 {
  color: var(--token-favT6QS-Y);
}
.svg__nA7T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__w4PR {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 128px;
  padding-bottom: 128px;
  left: auto;
  top: auto;
  flex-direction: row;
  background: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w4PR {
    padding: var(--token-23sDvCJz8) var(--token-yBlna5z1A);
  }
}
.columns__taMGt {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.columns__taMGt > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: calc(0px - var(--token-llwviJaI0));
  width: calc(100% + var(--token-llwviJaI0));
}
.columns__taMGt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--token-llwviJaI0)) * 6 / 12);
}
.columns__taMGt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--token-llwviJaI0)) * 6 / 12);
}
.columns__taMGt > :global(.__wab_flex-container) > *,
.columns__taMGt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__taMGt > :global(.__wab_flex-container) > picture > img,
.columns__taMGt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-llwviJaI0);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__taMGt {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__taMGt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - var(--token-llwviJaI0));
    height: calc(100% + var(--token-llwviJaI0));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__taMGt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-llwviJaI0)) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__taMGt > :global(.__wab_flex-container) > *,
  .columns__taMGt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__taMGt > :global(.__wab_flex-container) > picture > img,
  .columns__taMGt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: var(--token-llwviJaI0);
  }
}
.column__j53TH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__qiy0D {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
}
.freeBox__qiy0D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: calc(0px - var(--token-8gztQ3UHu));
  height: calc(100% + var(--token-8gztQ3UHu));
}
.freeBox__qiy0D > :global(.__wab_flex-container) > *,
.freeBox__qiy0D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qiy0D > :global(.__wab_flex-container) > picture > img,
.freeBox__qiy0D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-8gztQ3UHu);
}
.h3__fVvEy {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  color: var(--token-9tzej17HIQvdz);
}
.loremIpsumBrandedContentRickardJakobssonGindeIratOledesSamafalingDibevisPenOchTrilevisDenKahanarEndotesRinadeGunAhmedGrafenEttChristerObergOgonGalararBelogiEftersomFarTorggangareFarenForYharMarknadsplatserLaxrutGanadeHaskaMobilstrumpaPredGimalPersonaliseringOmAlbinLindgrenAkeEkstromProkottaPreharPredeAgnostimodernBokstavsdrogDylingPlattfilmMicroMomentsJuloreTulertadSprakekonomiReklejmaAnEpikrati5 {
  display: block;
  position: relative;
  color: var(--token-Oma3iF8wjdtxn);
  box-shadow: none;
}
.column__dcwGo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__jeSr {
  background: linear-gradient(#6b7c83cc, #6b7c83cc),
    url("/plasmic/nu_website/images/rectangle2.png") center center / cover no-repeat;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: -24px 24px 0px 0px var(--token-9tzej17HIQvdz);
  width: 420px;
  height: 420px;
  filter: saturate(100%);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jeSr {
    width: 340px;
    height: 340px;
    box-shadow: -20px 20px 0px 0px var(--token-9tzej17HIQvdz);
    flex-shrink: 0;
  }
}
.freeBox__pdj7F {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 128px;
  padding-bottom: 128px;
  left: auto;
  top: auto;
  flex-direction: row;
  background: var(--token-Oma3iF8wjdtxn);
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pdj7F {
    left: auto;
    top: auto;
    padding: var(--token-23sDvCJz8) var(--token-yBlna5z1A);
  }
}
.columns__kmZxt {
  flex-direction: row-reverse;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.columns__kmZxt > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: calc(0px - var(--token-llwviJaI0));
  width: calc(100% + var(--token-llwviJaI0));
}
.columns__kmZxt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--token-llwviJaI0)) * 6 / 12);
}
.columns__kmZxt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--token-llwviJaI0)) * 6 / 12);
}
.columns__kmZxt > :global(.__wab_flex-container) > *,
.columns__kmZxt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kmZxt > :global(.__wab_flex-container) > picture > img,
.columns__kmZxt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-llwviJaI0);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kmZxt {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kmZxt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - var(--token-llwviJaI0));
    height: calc(100% + var(--token-llwviJaI0));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kmZxt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-llwviJaI0)) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kmZxt > :global(.__wab_flex-container) > *,
  .columns__kmZxt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kmZxt > :global(.__wab_flex-container) > picture > img,
  .columns__kmZxt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: var(--token-llwviJaI0);
  }
}
.column__j3Rvn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__fqPa2 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
}
.freeBox__fqPa2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: calc(0px - var(--token-8gztQ3UHu));
  height: calc(100% + var(--token-8gztQ3UHu));
}
.freeBox__fqPa2 > :global(.__wab_flex-container) > *,
.freeBox__fqPa2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fqPa2 > :global(.__wab_flex-container) > picture > img,
.freeBox__fqPa2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-8gztQ3UHu);
}
.h3__c9Ib8 {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  color: var(--token-9tzej17HIQvdz);
}
.loremIpsumBrandedContentRickardJakobssonGindeIratOledesSamafalingDibevisPenOchTrilevisDenKahanarEndotesRinadeGunAhmedGrafenEttChristerObergOgonGalararBelogiEftersomFarTorggangareFarenForYharMarknadsplatserLaxrutGanadeHaskaMobilstrumpaPredGimalPersonaliseringOmAlbinLindgrenAkeEkstromProkottaPreharPredeAgnostimodernBokstavsdrogDylingPlattfilmMicroMomentsJuloreTulertadSprakekonomiReklejmaAnEpikrati6 {
  display: block;
  position: relative;
  color: var(--token-favT6QS-Y);
}
.column__jZgr6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__giEzJ {
  background: linear-gradient(#6b7c83cc, #6b7c83cc),
    url("/plasmic/nu_website/images/rectangle2.png") center center / cover no-repeat;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: -24px 24px 0px 0px var(--token-9tzej17HIQvdz);
  width: 420px;
  height: 420px;
  filter: saturate(100%);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__giEzJ {
    width: 340px;
    height: 340px;
    box-shadow: -20px 20px 0px 0px var(--token-9tzej17HIQvdz);
    flex-shrink: 0;
  }
}
.freeBox___5QbJ6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 128px;
  padding-bottom: 128px;
  left: auto;
  top: auto;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5QbJ6 {
    left: auto;
    top: auto;
    padding: var(--token-23sDvCJz8) var(--token-yBlna5z1A);
  }
}
.columns__nX2Jb {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.columns__nX2Jb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: calc(0px - var(--token-llwviJaI0));
  width: calc(100% + var(--token-llwviJaI0));
}
.columns__nX2Jb > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--token-llwviJaI0)) * 6 / 12);
}
.columns__nX2Jb > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--token-llwviJaI0)) * 6 / 12);
}
.columns__nX2Jb > :global(.__wab_flex-container) > *,
.columns__nX2Jb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nX2Jb > :global(.__wab_flex-container) > picture > img,
.columns__nX2Jb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-llwviJaI0);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nX2Jb {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nX2Jb > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - var(--token-llwviJaI0));
    height: calc(100% + var(--token-llwviJaI0));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nX2Jb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-llwviJaI0)) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nX2Jb > :global(.__wab_flex-container) > *,
  .columns__nX2Jb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__nX2Jb > :global(.__wab_flex-container) > picture > img,
  .columns__nX2Jb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: var(--token-llwviJaI0);
  }
}
.column__lpsHc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox___2VwfD {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
}
.freeBox___2VwfD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: calc(0px - var(--token-8gztQ3UHu));
  height: calc(100% + var(--token-8gztQ3UHu));
}
.freeBox___2VwfD > :global(.__wab_flex-container) > *,
.freeBox___2VwfD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2VwfD > :global(.__wab_flex-container) > picture > img,
.freeBox___2VwfD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-8gztQ3UHu);
}
.h3__pn3Fs {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  color: var(--token-W97lnYcRQ131x);
}
.loremIpsumBrandedContentRickardJakobssonGindeIratOledesSamafalingDibevisPenOchTrilevisDenKahanarEndotesRinadeGunAhmedGrafenEttChristerObergOgonGalararBelogiEftersomFarTorggangareFarenForYharMarknadsplatserLaxrutGanadeHaskaMobilstrumpaPredGimalPersonaliseringOmAlbinLindgrenAkeEkstromProkottaPreharPredeAgnostimodernBokstavsdrogDylingPlattfilmMicroMomentsJuloreTulertadSprakekonomiReklejmaAnEpikrati8 {
  display: block;
  position: relative;
  color: var(--token-Oma3iF8wjdtxn);
}
.column__tuT7X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__mOiPb {
  background: linear-gradient(#6b7c83cc, #6b7c83cc),
    url("/plasmic/nu_website/images/rectangle2.png") center center / cover no-repeat;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: -24px 24px 0px 0px var(--token-9tzej17HIQvdz);
  width: 420px;
  height: 420px;
  filter: saturate(100%);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mOiPb {
    width: 340px;
    height: 340px;
    box-shadow: -20px 20px 0px 0px var(--token-9tzej17HIQvdz);
    flex-shrink: 0;
  }
}
.freeBox__wmu1G {
  display: flex;
  position: relative;
  background: var(--token-Oma3iF8wjdtxn);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 128px;
  width: 100%;
  padding-bottom: 256px;
  left: auto;
  top: auto;
  min-width: 0;
}
.columns__dyyGp {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.columns__dyyGp > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.columns__dyyGp > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__dyyGp > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns__dyyGp > :global(.__wab_flex-container) > *,
.columns__dyyGp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dyyGp > :global(.__wab_flex-container) > picture > img,
.columns__dyyGp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dyyGp {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dyyGp > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dyyGp > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nRbNb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ncdVa {
  flex-direction: column;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
}
.freeBox__ncdVa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ncdVa > :global(.__wab_flex-container) > *,
.freeBox__ncdVa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ncdVa > :global(.__wab_flex-container) > picture > img,
.freeBox__ncdVa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__xwXwR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
}
.h3__uSPzN {
  display: block;
  padding-bottom: 0px;
  color: var(--token-9tzej17HIQvdz);
}
.h2 {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  color: var(--token-favT6QS-Y);
  padding-bottom: 0px;
}
.loremIpsumBrandedContentRickardJakobssonGindeIratOledesSamafalingDibevisPenOchTrilevisDenKahanarEndotesRinadeGunAhmedGrafenEttChristerObergOgonGalararBelogiEftersomFarTorggangareFarenForYharMarknadsplatserLaxrutGanadeHaskaMobilstrumpaPredGimalPersonaliseringOmAlbinLindgrenAkeEkstromProkottaPreharPredeAgnostimodernBokstavsdrogDylingPlattfilmMicroMomentsJuloreTulertadSprakekonomiReklejmaAnEpikrati7 {
  display: block;
  position: relative;
  color: var(--token-cL82EQzkWLmlW);
}
.column__qWfL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.columns__vivGy {
  flex-direction: row;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
  width: 100%;
  height: 240px;
  margin-top: -88px;
  margin-bottom: 128px;
  min-width: 0;
  flex-shrink: 0;
}
.columns__vivGy > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__vivGy > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 64px) * 4 / 12);
}
.columns__vivGy > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 64px) * 4 / 12);
}
.columns__vivGy > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 64px) * 4 / 12);
}
.columns__vivGy > :global(.__wab_flex-container) > *,
.columns__vivGy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vivGy > :global(.__wab_flex-container) > picture > img,
.columns__vivGy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vivGy {
    width: 100%;
    height: auto;
    flex-direction: row;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vivGy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vivGy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
.column__xgax {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-9tzej17HIQvdz);
  min-width: 0;
  padding: 8px;
}
.column__fv9Xf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-9tzej17HIQvdz);
  min-width: 0;
  padding: 8px;
}
.column__ngCs6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-9tzej17HIQvdz);
  min-width: 0;
  padding: 8px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navigationBar___16Qz:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__pCq4N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__xuAr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
.img__qqwHx {
  object-fit: cover;
  display: none !important;
}
.img__qqwHx > picture > img {
  object-fit: cover;
}
.img__qqwHx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg___5EDyb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img___7Op3 {
  object-fit: cover;
}
.img___7Op3 > picture > img {
  object-fit: cover;
}
.img___7Op3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__e8Nf5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox__e8Nf5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox__e8Nf5 > :global(.__wab_flex-container) > *,
.freeBox__e8Nf5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e8Nf5 > :global(.__wab_flex-container) > picture > img,
.freeBox__e8Nf5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
.link__qdhn {
  position: relative;
  display: flex;
}
.button__dihNw:global(.__wab_instance) {
  max-width: 100%;
}
.svg__up0Gy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__akFej {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link___94Zzy {
  position: relative;
  display: flex;
}
.button__hIa7:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bfgRm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__aR5K {
  color: var(--token-favT6QS-Y);
}
.svg__f0CwN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__qougR {
  position: relative;
  display: flex;
}
.button__v5Ufk:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sh6Ji {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__oCmzi {
  color: var(--token-favT6QS-Y);
}
.svg__wBKa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__aZmBw {
  position: relative;
  display: flex;
}
.button__uBpx:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3Ar5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wVhrF {
  color: var(--token-favT6QS-Y);
}
.svg__dNfoL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__zrviu {
  position: relative;
  display: flex;
}
.button__f6HXu:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nzFRl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rX8Nw {
  color: var(--token-favT6QS-Y);
}
.svg__ysXUh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
