.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: stretch;
}
.sectionTitle {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.h2 {
  display: flex;
  position: relative;
  flex-direction: row;
  font-size: var(--token-rFqlJRJmz);
}
.slotTargetChildren {
  color: var(--token-W97lnYcRQ131x);
}
.freeBox__f1Lwd {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__f1Lwd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: calc(0px - var(--token-RUzZyvKbo));
  width: calc(100% + var(--token-RUzZyvKbo));
}
.freeBox__f1Lwd > :global(.__wab_flex-container) > *,
.freeBox__f1Lwd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f1Lwd > :global(.__wab_flex-container) > picture > img,
.freeBox__f1Lwd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-RUzZyvKbo);
}
.h1 {
  display: flex;
  position: relative;
  flex-direction: row;
  font-size: var(--token-7kqqUkf1e);
}
.slotTargetSlot {
  color: var(--token-Oma3iF8wjdtxn);
}
.freeBox__dapC8 {
  display: flex;
  position: relative;
  margin-top: 0px;
  margin-bottom: 16px;
}
.svg___0Sy1M {
  position: relative;
  object-fit: cover;
  color: var(--token-W97lnYcRQ131x);
  width: var(--token-23sDvCJz8);
  height: var(--token-RUzZyvKbo);
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  flex-shrink: 0;
}
