.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
}
.freeBox__gnxyd {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding-top: var(--token-llwviJaI0);
  padding-bottom: var(--token-llwviJaI0);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gnxyd {
    padding: var(--token-yBlna5z1A) var(--token-IlohZwGud);
  }
}
.navigationBar___5LA83:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar___5LA83:global(.__wab_instance) {
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
  }
}
.link__viHoq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__o1CaM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__o1CaM {
    width: 120px;
    flex-shrink: 0;
  }
}
.img__uOIfn {
  object-fit: cover;
  display: none !important;
}
.img__uOIfn > picture > img {
  object-fit: cover;
}
.img__uOIfn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__drueo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img__pMa6 {
  object-fit: cover;
}
.img__pMa6 > picture > img {
  object-fit: cover;
}
.img__pMa6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ebWVu {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox__ebWVu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox__ebWVu > :global(.__wab_flex-container) > *,
.freeBox__ebWVu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ebWVu > :global(.__wab_flex-container) > picture > img,
.freeBox__ebWVu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebWVu {
    display: flex;
    flex-direction: column;
    background: var(--token-Oma3iF8wjdtxn);
    box-shadow: 10px 10px 0px 0px var(--token-9tzej17HIQvdz);
    margin-top: 24px;
    border: 4px solid var(--token-favT6QS-Y);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebWVu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-yBlna5z1A));
    height: calc(100% + var(--token-yBlna5z1A));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebWVu > :global(.__wab_flex-container) > *,
  .freeBox__ebWVu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ebWVu > :global(.__wab_flex-container) > picture > img,
  .freeBox__ebWVu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-yBlna5z1A);
  }
}
.link___4Cwla {
  position: relative;
  display: flex;
}
.button___4Gqqh:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cgpaY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___0Dpdg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__eadSd {
  position: relative;
  display: flex;
}
.button___5F0It:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ekTgC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vmpi9 {
  color: var(--token-favT6QS-Y);
}
.svg___3Ww2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__huuVe {
  position: relative;
  display: flex;
}
.button__gwNcg:global(.__wab_instance) {
  max-width: 100%;
}
.svg__egrpL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vCaxm {
  color: var(--token-favT6QS-Y);
}
.svg__e79VL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__bu8Ph {
  position: relative;
  display: flex;
}
.button___6VkvG:global(.__wab_instance) {
  max-width: 100%;
}
.svg__pIgVq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__y8JTp {
  color: var(--token-favT6QS-Y);
}
.svg__ktXo3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__rJacH {
  position: relative;
  display: flex;
}
.button__w0FId:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g9Yqu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bFwdP {
  color: var(--token-favT6QS-Y);
}
.svg__nhiQw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.header:global(.__wab_instance) {
  max-width: 1080px;
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__plEj {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__plEj {
    left: auto;
    top: auto;
    display: flex;
  }
}
.freeBox__cmeJb {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 10;
  flex-direction: row;
  justify-content: center;
  padding-top: 128px;
  height: 100%;
  align-items: center;
  background: linear-gradient(
        0deg,
        var(--token-Oma3iF8wjdtxn) 0%,
        #6b7c8300 75%,
        var(--token-Oma3iF8wjdtxn) 100%
      )
      0% 0% / 100% 100% repeat,
    #6b7c83bf;
  min-width: 0;
  min-height: 0;
}
.columns__dAvLr {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.columns__dAvLr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns__dAvLr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dAvLr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: var(--token-IlohZwGud);
    padding-left: var(--token-IlohZwGud);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dAvLr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__a5StV {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__a5StV > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-yBlna5z1A));
  width: calc(100% + var(--token-yBlna5z1A));
  margin-top: calc(0px - var(--token-AvH4SFqUT));
  height: calc(100% + var(--token-AvH4SFqUT));
}
.column__a5StV > :global(.__wab_flex-container) > *,
.column__a5StV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__a5StV > :global(.__wab_flex-container) > picture > img,
.column__a5StV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-yBlna5z1A);
  margin-top: var(--token-AvH4SFqUT);
}
.h1 {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: var(--token-7kqqUkf1e);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: var(--token-rFqlJRJmz);
  }
}
.button___29F9R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1AXxK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___12ZnK {
  position: relative;
  object-fit: cover;
  width: var(--token-AvH4SFqUT);
  height: var(--token-AvH4SFqUT);
  color: var(--token-cL82EQzkWLmlW);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
}
.column__qaNsN {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qaNsN {
    display: none;
  }
}
.slider:global(.__wab_instance) {
  background: none;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox__ffvtj {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/nu_website/images/fotoHalftone01Jpg.jpeg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
}
.freeBox__zjemt {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/nu_website/images/fotoHalftone02Jpg.jpeg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
}
.freeBox__mZm7H {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/nu_website/images/fotoHalftone03Jpg.jpeg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
}
.freeBox__rw4Ap {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/nu_website/images/fotoHalftone04Jpg.jpeg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
}
.freeBox___5KXx {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/nu_website/images/fotoHalftone05Jpg.jpeg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
}
.freeBox__ve0Uy {
  flex-direction: column;
  background: linear-gradient(
        0deg,
        #6b7c83 0%,
        #6b7c8300 51%,
        var(--token-Oma3iF8wjdtxn) 100%
      )
      0% 0% / 100% 100% repeat,
    linear-gradient(#6b7c83e6, #6b7c83e6),
    url("/plasmic/nu_website/images/fotoHalftone05Jpg.jpeg") top 50% left 50% / cover repeat fixed;
  mix-blend-mode: normal;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  min-height: 440px;
  height: 100%;
  padding: 128px var(--token-llwviJaI0);
}
.freeBox__ve0Uy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ve0Uy {
    padding-right: var(--token-yBlna5z1A);
    padding-left: var(--token-yBlna5z1A);
    padding-bottom: var(--token-llwviJaI0);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ve0Uy > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-yBlna5z1A));
    height: calc(100% + var(--token-yBlna5z1A));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ve0Uy > :global(.__wab_flex-container) > *,
  .freeBox__ve0Uy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ve0Uy > :global(.__wab_flex-container) > picture > img,
  .freeBox__ve0Uy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-yBlna5z1A);
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns___5Urg {
  flex-direction: row-reverse;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.columns___5Urg > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: calc(0px - var(--token-yBlna5z1A));
  width: calc(100% + var(--token-yBlna5z1A));
}
.columns___5Urg > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--token-yBlna5z1A)) * 6 / 12);
}
.columns___5Urg > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--token-yBlna5z1A)) * 6 / 12);
}
.columns___5Urg > :global(.__wab_flex-container) > *,
.columns___5Urg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___5Urg > :global(.__wab_flex-container) > picture > img,
.columns___5Urg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-yBlna5z1A);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5Urg {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5Urg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5Urg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-yBlna5z1A)) * 12 / 12);
  }
}
.column__vY1W5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 0;
}
.freeBox__kDzLc {
  flex-direction: column;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-bottom: 128px;
}
.freeBox__kDzLc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-8gztQ3UHu));
  height: calc(100% + var(--token-8gztQ3UHu));
}
.freeBox__kDzLc > :global(.__wab_flex-container) > *,
.freeBox__kDzLc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kDzLc > :global(.__wab_flex-container) > picture > img,
.freeBox__kDzLc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-8gztQ3UHu);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kDzLc {
    padding-bottom: var(--token-23sDvCJz8);
  }
}
.sectionTitle__mAby:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__tO7Xs {
  color: var(--token-favT6QS-Y);
}
.svg__lkQy {
  position: relative;
  object-fit: cover;
  color: var(--token-W97lnYcRQ131x);
  width: var(--token-23sDvCJz8);
  height: var(--token-RUzZyvKbo);
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.p {
  display: block;
  position: relative;
  color: var(--token-favT6QS-Y);
}
.column__yXb9N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.img__xxY2 {
  position: relative;
  max-width: 100%;
  object-position: 50% 50%;
  margin-bottom: -5px;
}
.img__xxY2 > picture > img {
  object-position: 50% 50%;
}
.img__xxY2 > :global(.__wab_img-spacer) > img {
  object-position: 50% 50%;
}
.columns__tkDzD {
  flex-direction: row-reverse;
  display: flex;
  position: relative;
  max-width: 1080px;
  background: none;
}
.columns__tkDzD > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: calc(0px - var(--token-llwviJaI0));
  width: calc(100% + var(--token-llwviJaI0));
}
.columns__tkDzD > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--token-llwviJaI0)) * 12 / 12);
}
.columns__tkDzD > :global(.__wab_flex-container) > *,
.columns__tkDzD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tkDzD > :global(.__wab_flex-container) > picture > img,
.columns__tkDzD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-llwviJaI0);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tkDzD {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tkDzD > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - var(--token-AvH4SFqUT));
    height: calc(100% + var(--token-AvH4SFqUT));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tkDzD > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-llwviJaI0)) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tkDzD > :global(.__wab_flex-container) > *,
  .columns__tkDzD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__tkDzD > :global(.__wab_flex-container) > picture > img,
  .columns__tkDzD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: var(--token-AvH4SFqUT);
  }
}
.column__rkcd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: -24px 24px 0px 0px var(--token-9tzej17HIQvdz);
  min-width: 0;
  padding: var(--token-llwviJaI0);
  border: 10px solid var(--token-favT6QS-Y);
}
.column__rkcd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-23sDvCJz8));
  height: calc(100% + var(--token-23sDvCJz8));
}
.column__rkcd > :global(.__wab_flex-container) > *,
.column__rkcd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__rkcd > :global(.__wab_flex-container) > picture > img,
.column__rkcd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-23sDvCJz8);
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rkcd {
    box-shadow: none;
    padding: var(--token-yBlna5z1A);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rkcd > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-AvH4SFqUT));
    height: calc(100% + var(--token-AvH4SFqUT));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rkcd > :global(.__wab_flex-container) > *,
  .column__rkcd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__rkcd > :global(.__wab_flex-container) > picture > img,
  .column__rkcd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-AvH4SFqUT);
  }
}
.sectionTitle__y3RnZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__aY7WR {
  color: var(--token-favT6QS-Y);
}
.text__cDSc {
  color: var(--token-9tzej17HIQvdz);
}
.svg___9LxvA {
  position: relative;
  object-fit: cover;
  color: var(--token-favT6QS-Y);
  width: var(--token-23sDvCJz8);
  height: var(--token-RUzZyvKbo);
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___9LxvA {
    width: var(--token-8gztQ3UHu);
  }
}
.loremIpsumBrandedContentRickardJakobssonGindeIratOledesSamafalingDibevisPenOchTrilevisDenKahanarEndotesRinadeGunAhmedGrafenEttChristerObergOgonGalararBelogiEftersomFarTorggangareFarenForYharMarknadsplatserLaxrutGanadeHaskaMobilstrumpaPredGimalPersonaliseringOmAlbinLindgrenAkeEkstromProkottaPreharPredeAgnostimodernBokstavsdrogDylingPlattfilmMicroMomentsJuloreTulertadSprakekonomiReklejmaAnEpikrati {
  display: block;
  position: relative;
  width: 100%;
  color: var(--token-favT6QS-Y);
  min-width: 0;
}
.columns__ajNBm {
  flex-direction: row;
  position: relative;
  max-width: 1080px;
  background: var(--token-9tzej17HIQvdz);
  box-shadow: -40px 40px 0px 0px var(--token-favT6QS-Y);
  display: none;
  padding: var(--token-llwviJaI0);
  border: 10px solid var(--token-9tzej17HIQvdz);
}
.columns__ajNBm > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.columns__ajNBm > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ajNBm > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ajNBm {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ajNBm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - var(--token-AvH4SFqUT));
    height: calc(100% + var(--token-AvH4SFqUT));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ajNBm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ajNBm > :global(.__wab_flex-container) > *,
  .columns__ajNBm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ajNBm > :global(.__wab_flex-container) > picture > img,
  .columns__ajNBm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: var(--token-AvH4SFqUT);
  }
}
.column__sOnf7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.sectionTitle__s1Vi8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__hxWDi {
  color: var(--token-W97lnYcRQ131x);
}
.text__eJzwv {
  color: var(--token-Oma3iF8wjdtxn);
}
.svg__fd6QP {
  position: relative;
  object-fit: cover;
  color: var(--token-W97lnYcRQ131x);
  width: var(--token-23sDvCJz8);
  height: var(--token-RUzZyvKbo);
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__fd6QP {
    width: var(--token-8gztQ3UHu);
  }
}
.column__qodDj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border: 10px solid var(--token-9tzej17HIQvdz);
}
.loremIpsumBrandedContentRickardJakobssonGindeIratOledesSamafalingDibevisPenOchTrilevisDenKahanarEndotesRinadeGunAhmedGrafenEttChristerObergOgonGalararBelogiEftersomFarTorggangareFarenForYharMarknadsplatserLaxrutGanadeHaskaMobilstrumpaPredGimalPersonaliseringOmAlbinLindgrenAkeEkstromProkottaPreharPredeAgnostimodernBokstavsdrogDylingPlattfilmMicroMomentsJuloreTulertadSprakekonomiReklejmaAnEpikrati3 {
  display: block;
  position: relative;
  width: 100%;
  color: var(--token-Oma3iF8wjdtxn);
  min-width: 0;
}
.freeBox__kLxNo {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  padding-top: 128px;
  padding-bottom: 128px;
  background: linear-gradient(0deg, #6b7c8300 0%, #6b7c83bf 45%, #6b7c83 99%),
    linear-gradient(#6b7c83bf, #6b7c83bf),
    url("/plasmic/nu_website/images/fotoHalftone03Jpg.jpeg") top 50% left 50% / cover repeat fixed;
}
.freeBox__kLxNo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - var(--token-llwviJaI0));
  height: calc(100% + var(--token-llwviJaI0));
}
.freeBox__kLxNo > :global(.__wab_flex-container) > *,
.freeBox__kLxNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kLxNo > :global(.__wab_flex-container) > picture > img,
.freeBox__kLxNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-llwviJaI0);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kLxNo {
    padding: var(--token-llwviJaI0) var(--token-yBlna5z1A);
  }
}
.columns__xhGkc {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1080px;
  background: none;
}
.columns__xhGkc > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__xhGkc > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xhGkc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xhGkc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ynevE {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: 24px 24px 0px 0px var(--token-9tzej17HIQvdz);
  min-width: 0;
  padding: var(--token-llwviJaI0);
  border: 10px solid var(--token-favT6QS-Y);
}
.column__ynevE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-8gztQ3UHu));
  height: calc(100% + var(--token-8gztQ3UHu));
}
.column__ynevE > :global(.__wab_flex-container) > *,
.column__ynevE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ynevE > :global(.__wab_flex-container) > picture > img,
.column__ynevE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-8gztQ3UHu);
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ynevE {
    box-shadow: none;
    padding: var(--token-yBlna5z1A);
  }
}
.sectionTitle__vsHbS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___4U5Mx {
  color: var(--token-favT6QS-Y);
}
.text___6Xfz0 {
  color: var(--token-9tzej17HIQvdz);
}
.svg__gHxKm {
  position: relative;
  object-fit: cover;
  color: var(--token-favT6QS-Y);
  width: var(--token-23sDvCJz8);
  height: var(--token-RUzZyvKbo);
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.loremIpsumBrandedContentRickardJakobssonGindeIratOledesSamafalingDibevisPenOchTrilevisDenKahanarEndotesRinadeGunAhmedGrafenEttChristerObergOgonGalararBelogiEftersomFarTorggangareFarenForYharMarknadsplatserLaxrutGanadeHaskaMobilstrumpaPredGimalPersonaliseringOmAlbinLindgrenAkeEkstromProkottaPreharPredeAgnostimodernBokstavsdrogDylingPlattfilmMicroMomentsJuloreTulertadSprakekonomiReklejmaAnEpikrati2 {
  display: block;
  align-self: stretch;
  position: relative;
  color: var(--token-favT6QS-Y);
}
.column__y8Yto {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navigationBar__xgntd:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__vO04V {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__wok1O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
.img__kJz4E {
  object-fit: cover;
  display: none !important;
}
.img__kJz4E > picture > img {
  object-fit: cover;
}
.img__kJz4E > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__bjaUx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img__bzE0L {
  object-fit: cover;
}
.img__bzE0L > picture > img {
  object-fit: cover;
}
.img__bzE0L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__kAwtc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox__kAwtc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox__kAwtc > :global(.__wab_flex-container) > *,
.freeBox__kAwtc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kAwtc > :global(.__wab_flex-container) > picture > img,
.freeBox__kAwtc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
.link__uMjr3 {
  position: relative;
  display: flex;
}
.button___0GhF:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mTpx3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yhDxI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link___5IQ2R {
  position: relative;
  display: flex;
}
.button__rPcf2:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3Mv9C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yLvU7 {
  color: var(--token-favT6QS-Y);
}
.svg__ggavk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__ymVj0 {
  position: relative;
  display: flex;
}
.button__fqvq7:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dLgbw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___2Ouyy {
  color: var(--token-favT6QS-Y);
}
.svg__vNKd8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__cjEmq {
  position: relative;
  display: flex;
}
.button__bByMt:global(.__wab_instance) {
  max-width: 100%;
}
.svg___03Tnc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__sgjD8 {
  color: var(--token-favT6QS-Y);
}
.svg___5OLOe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__fy1V5 {
  position: relative;
  display: flex;
}
.button__sRqBy:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jy3Bu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fd4Yf {
  color: var(--token-favT6QS-Y);
}
.svg__yeVb5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
